# build artifacts
*.slo
*.lo
*.o
*.obj
build/*

# dev files
.vscode/*

# Precompiled Headers
*.gch
*.pch

# binaries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# docs
docs/build
docs/source/api
docs/source/Doxyfile
